{
  "appen_job": 3667135,
  "num_stimuli": 41,
  "num_stimuli_participant": 41,
  "allowed_min_time": 1000,
  "num_repeat": 1,
  "hm_resolution": 100,
  "mask_id": 11111111,
  "files_heroku": ["heroku_0.json", "heroku_1.json"],
  "files_appen": ["f2138901.csv", "questionnaire_lab.csv"],
  "file_cheaters": "/_output/cheaters.csv",
  "path_stimuli": "/public/videos",
  "mapping_stimuli": "/public/videos/mapping.csv",
  "plotly_template": "plotly_white",
  "stimulus_width": 1280,
  "stimulus_height": 720,
  "freq": 120,
  "mincutoff": 0.1,
  "beta": 0.1,
  "dcutoff": 1.0,
  "font_family": "Open Sans, verdana, arial, sans-serif",
  "font_size": 12,
  "p_value": 0.001,
  "save_figures": 0
}