<!doctype html>
<html>
  <head>
    <title>Too many mistakes</title>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <!-- favicon -->
    <link rel='icon' type='image/png' href='img/favicon.png' />
    <!-- custom css -->
    <link href="css/experiment.css" rel='stylesheet' type='text/css'></link>
  </head>
  <body>
    <div class="jumbotron vertical-center">
      <div class="container" style="text-align: left;">
        <h1 class="display-4">Too many incorrect answers</h1>
        <p class="lead">
          Unfortunately, you answered too many of the screening questions incorrectly and are not able to continue with this experiment. You were warned about it in the instructions.
        </p>
        <hr>
        <p class="lead">Thank you for your time. You may now close this tab and Appen job.</p>
      </div>
    </div>
  </body>
</html>